body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8); /* White background color with some transparency */
    background-attachment: fixed; /* optional, for a fixed background */
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    height: 100vh;
}

  
  #confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .confetti {
    width: 10px;
    height: 10px;
    background-color: #f00; /* Adjust the confetti color as needed */
    position: absolute;
    animation: fall 2s infinite;
  }
  
  #container {
    width: min(100%, 950px);
    max-width: 80%;
    margin: 50px auto;
    background-image: url('birthday2.jpg');
    background-size: cover;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  
  .animated {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    color: #ff6347; /* Tomato color */
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  .hover-image {
    cursor: pointer;
  }
  
  @keyframes fall {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(100vh);
    }
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 320px) {
    #container {
      max-width: 100%;
    }
  }
